<table mat-table [dataSource]="listaPacientes" class="mat-elevation-z8 width-table">

  <ng-container matColumnDef="nomePaciente">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let pacientes">{{pacientes.nomePaciente}}</td>
  </ng-container>

  <ng-container matColumnDef="nascimentoPaciente">
    <th mat-header-cell *matHeaderCellDef>Nascimento</th>
    <td mat-cell *matCellDef="let pacientes">{{pacientes.nascimentoPaciente}}</td>
  </ng-container>

  <ng-container matColumnDef="rgPaciente">
    <th mat-header-cell *matHeaderCellDef>RG</th>
    <td mat-cell *matCellDef="let pacientes">{{pacientes.rgPaciente}}</td>
  </ng-container>

  <ng-container matColumnDef="cpfPaciente">
    <th mat-header-cell *matHeaderCellDef>CPF</th>
    <td mat-cell *matCellDef="let pacientes">{{pacientes.cpfPaciente}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="visaoColunas"></tr>
  <tr mat-row *matRowDef="let row; columns: visaoColunas;"></tr>
</table>
<hr/>
<table class="width-table2">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nome</th>
      <th>Nascimento</th>
      <th>RG</th>
      <th>CPF</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let paciente of listaPacientes; let id = index" >
      <td>{{ id + 1 }}</td>
      <td>{{ paciente.nomePaciente }}</td>
      <td>{{ paciente.nascimentoPaciente }}</td>
      <td>{{ paciente.rgPaciente }}</td>
      <td>{{ paciente.cpfPaciente }}</td>
      <td>
        <button (click)="deletar(id)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
<hr/>

<form>
  <div>
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome"/>
  </div>
  <div>
    <label for="nascimento">Nascimento</label>
    <input type="text" id="nascimento" name="nascimento"/>
  </div>
  <div>
    <label for="rg">RG</label>
    <input type="text" id="rg" name="rg"/>
  </div>
  <div>
    <label for="cpf">CPF</label>
    <input type="text" id="cpf" name="cpf"/>
  </div>
  <button (click)="adicionar()">Adicionar</button>
</form>




