<section>
  <h3>*ngIf</h3>
  <hr/>
  <p *ngIf="!oculto">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione optio, numquam accusamus nesciunt ut placeat. Porro sint ullam, nulla saepe dolorem pariatur necessitatibus ab veritatis unde, quia mollitia perferendis quisquam.
  </p>
  <button (click)="ocultar()">Ocultar</button>
  <button (click)="mostrar()">Mostrar</button>
</section>>

<section>
  <h3>*ngFor</h3>
  <hr/>
  <input [(ngModel)]="alimento" placeholder="Digite um item"/>
  <button (click)="add()">ADD</button>
  <ul>
    <li *ngFor="let compra of compras; let i = index">
      {{ i }} - {{ compra }}
    </li>
    <!-- Pra cada item "compra" dentro do array "compras" colocará um item na tela. -->
  </ul>
</section>

<section>
  <h3>*ngSwitch</h3>
  <hr/>
  <select [(ngModel)]="status">
    <option value="loading">Loading</option>
    <option value="error">Error</option>
    <option value="data">Data</option>
    <option value="">Unknown</option>
  </select>
  <div [ngSwitch]="status">
    <p *ngSwitchCase="'loading'">Carregando...</p>
    <p *ngSwitchCase="'error'">Um erro ocorreu...</p>
    <p *ngSwitchCase="'data'">Os dados chegaram!</p>
    <p *ngSwitchDefault>Problema desconhecido!</p>
  </div>
</section>
