<!-- <section>
  <h3>Interpolação</h3>
  <hr/>
  <p>{{ nome}}</p>
  <p>Seja bem-vindo(a), {{ nome }}</p>
  <p>Você tem {{ idade }} ano(s).</p>
  <p>{{ nome | uppercase}}</p>
  <p>Soma de 1 + 1 é: {{ 1 + 1 }}</p>
  <p>Seu sobrenome é {{'Almeida'}}</p>
  <p>Você nasceu em: {{ calculaAnoNascimento() }}</p>
</section>

<section>
  <h3>Event Binding</h3>
  <hr/> -->

  <!-- <img
    src="{{ linkImagem }}"
    height="{{ alturaImagem }}"
    width="{{ larguraImagem }}"
  /> -->

  <!-- Property binding -->
  <!-- <img
    [src]="linkImagem"
    [height]="alturaImagem"
    [width]="larguraImagem"
  />

  <p>{{ larguraImagem }} x {{ alturaImagem }}</p>
  <button (click)="aumentar()">Aumentar</button>
  <button (click)="diminuir()">Diminuir</button>
</section> -->
<app-exercicio-um></app-exercicio-um>
<app-data-binding></app-data-binding>



