<section>
  <h3>Built-in-Pipes</h3>
  <!-- Pipes padrão do Angular -->
  <p>{{ nome | uppercase }}</p>
  <p>{{ nome | lowercase }}</p>
  <p>{{ nome | titlecase }}</p>
  <p>{{ date | date  }}</p>
  <p>{{ date | date: 'dd/MM/yyyy'  }}</p>
  <p>{{ date | date: 'dd-MM-yyyy'  }}</p>
  <p>{{ date | date: 'MM, yyyy'  }}</p>
  <!-- yy mostra apenas os dois últimos algarismos do ano -->
  <p>{{ date | date: 'short'  }}</p>
  <p>{{ percentual | percent  }}</p>
  <p>{{ percentual | percent: '1.0-2'  }}</p>
  <!-- digítos antes do ponto, mínimo de casas decimais depois do ponto, máximo -->
  <p>{{ salario | currency: 'BRL':'symbol':"1.3-5"}}</p>
  <p>{{ salario | currency: 'BRL':'code':"1.3-5"}}</p>
  <p>{{ user | json }}</p>
  <p>{{ date | date | uppercase }}</p>
  <p>{{ salario | currency: 'BRL' | lowercase}}</p>
</section>
