<section>
  <h3>Interpolação</h3>
  <hr/>
  <p>{{ nome }}</p>
  <p>Olá, eu sou {{ nome }}.</p>
  <p>Olá, eu sou {{ nome }} e tenho {{ idade }} anos.</p>
</section>>

<section>
  <h3>Property binding</h3>
  <hr/>
  <img [src]="link"/>
</section>>

<section>
  <h3>Event Binding</h3>
  <hr/>
  <button (click)="alerta()">Alertar</button>
</section>>

<section>
  <h3>Two-Way Data Binding</h3>
  <hr/>
  <input type="text" [(ngModel)]="nomeCompleto"/>
  <p>{{ nomeCompleto }}</p>
  <h4>Exemplo:</h4>
  <input type="text" [(ngModel)]="estudante.nomeCompleto"/>
  <input type="text" [(ngModel)]="estudante.idade"/>
  <input type="text" [(ngModel)]="estudante.nota1"/>
  <input type="text" [(ngModel)]="estudante.nota2"/>
  <input type="text" [(ngModel)]="estudante.nota3"/>
  <p>{{ estudante | json }}</p>
</section>>

